[submodule "dwm"]
	path = dwm
	url = git@github.com:Komareal/Suckless-DWM.git
[submodule "st"]
	path = st
	url = git@github.com:Komareal/Suckless-St.git
[submodule "slock"]
	path = slock
	url = git@github.com:Komareal/Suckless-Slock.git
[submodule "wmname"]
	path = wmname
	url = https://git.suckless.org/wmname
[submodule "dwmblocks-async"]
	path = dwmblocks-async
	url = git@github.com:Komareal/Suckless-dwmblocks-async.git
